
#main{
  background-image: url(./bg.jpg);
  background-size:contain;
  background-repeat: no-repeat;
}
#mainh{
  font-size: 100px;
}
#maindiv{
  color: aliceblue;
  background-color: rgba(10, 0, 0,0.7);
border-radius: 50px;
background-size:contain;
}
img{
  border-radius: 20px;
}